<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://pagination.js.org/dist/2.6.0/pagination.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>
<div class="container mt-3">
    <div class="px-2 mb-2 dashboard-title">
        Package
    </div>
    <button type="button" class="btn btn-success justify-content-end d-block float-right p-2" data-bs-toggle="modal"
        data-bs-target="#addNewPackage">Add new package</button>
    <div class="d-flex mb-3">
        <select class="shadow-textbox form-select custom-width-select" id="packageFilter">
            <option disabled selected>Choose Filter...</option>
            <option value="Name" class="font-weight-bold">Name</option>
            <option value="Type" class="font-weight-bold">Type</option>
            <option value="City" class="font-weight-bold">City</option>
        </select>
        <input placeholder="Search with filter..." type="text"
            class="shadow-textbox form-control custom-width-input mx-2" aria-label="Text input with dropdown button">
    </div>
    <table id="packageTable" class="table table-hover table-bordered table-striked">
        <thead>
            <tr>
                <th class="col-1">#</th>
                <th class="col-6">Name</th>
                <th class="col-2">Type</th>
                <th class="col-2">City</th>
                <th class="col-1">Operations</th>
            </tr>
        </thead>
        <tbody id="table-content">
            <%packageList.forEach(function(item, index){%>
                <tr>
                    <th scope="row">
                        <%=index+1%>
                    </th>
                    <td>
                        <%=item.packageName%>
                    </td>
                    <td>
                        <%=item.packageType%>
                    </td>
                    <td>
                        <%=item.packageCity%>
                    </td>
                    <td class="flex-center">
                        <button class="btn btn-primary rounded-circle" onclick="loadPackageData(<%=item.id%>)">
                            <i class="fa-solid fa-gear" style="color: #ffffff;"></i>
                        </button>
                        <button class="btn btn-danger rounded-circle">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <div class="table-footer-height"></div>
    <!-- Pagination -->
    <div class="paging-parent">
        <nav id="paging" class="foot-align" aria-label="Page navigation example">
        </nav>
    </div>

    <!-- Button trigger modal -->

    <!-- Add Modal -->
    <div class="modal fade" id="addNewPackage" tabindex="-1" aria-labelledby="addNewPackageLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-custom">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new package</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="package/create-package">
                        <div class="mb-3">
                            <label class="col-form-label">Package Image:</label>
                            <!--Image-->
                            <div>
                                <div class="mb-4 d-flex justify-content-center">
                                    <img id="selectedImaged" src="img/imgPlaceHolder.jpg" alt="example placeholder"
                                        style="width: 300px;" />
                                </div>
                                <div class="d-flex justify-content-center">
                                    <label class="btn btn-primary btn-rounded text-white m-1" style="cursor: pointer;"
                                        for="fileInput">Choose
                                        file</label>
                                    <input type="file" class="form-control d-none" id="fileInput" content="Choose File"
                                        onchange="displaySelectedImage(event, 'selectedImage')" />
                                </div>
                            </div>
                            <input type="hidden" name="packageImage" id="packageImage" />

                        </div>
                        <div class="mb-3">
                            <label for="packageName" class="col-form-label">Package Name:</label>
                            <input name="packageName" type="text" class="form-control" id="packageName">
                        </div>
                        <div class="d-flex">
                            <div class="mb-3 flex-1 mr-2">
                                <label for="packageType" class="col-form-label">Type: </label>
                                <select name="packageType" class="form-select custom-width-select" id="packageType">
                                    <option disabled selected>Choose type...</option>
                                    <option value="Tham quan">Tham quan</option>
                                    <option value="Ăn uống">Ăn uống</option>
                                    <option value="Mua sắm">Mua sắm</option>
                                    <option value="Giải trí">Giải trí</option>
                                    <option value="Thể thao">Thể thao</option>
                                    <option value="Kiến thức">Kiến thức</option>
                                    <option value="Giao lưu văn hóa">Giao lưu văn hóa</option>
                                    <option value="Khác">Khác</option>
                                </select>
                            </div>
                            <div class="mb-3 flex-2">
                                <label for="packageCity" class="col-form-label">City: </label>
                                <select name="packageCity" class="form-select custom-width-select" id="packageCity">
                                    <option disabled selected>Choose City...</option>
                                    <option value="1">Type 1</option>
                                    <option value="2">Type 2</option>
                                    <option value="3">Type 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="packageDescription" class="col-form-label">Description:</label>
                            <textarea name="packageDescription" class="form-control" id="packageDescription"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="submitBtn" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Update Modal -->
    <div class="modal fade" id="updatePackage" tabindex="-1" aria-labelledby="updatePackageLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-custom">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePackageLabel">Detail - Update package</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="package/update-package/">
                        <div class="mb-3">
                            <label class="col-form-label">Package Image:</label>
                            <!--Image-->
                            <div>
                                <div class="mb-4 d-flex justify-content-center">
                                    <img id="selectedImageUpdate" src="img/imgPlaceHolder.jpg" alt="example placeholder"
                                        style="width: 300px;" />
                                </div>
                                <div class="d-flex justify-content-center">
                                    <label class="btn btn-primary btn-rounded text-white m-1" style="cursor: pointer;"
                                        for="fileInput">Choose
                                        file</label>
                                    <input type="file" class="form-control d-none" id="fileInput" content="Choose File"
                                        onchange="displaySelectedImage(event, 'selectedImage')" />
                                </div>
                            </div>
                            <input type="hidden" name="packageImageUpdate" id="packageImageUpdate" />

                        </div>
                        <div class="mb-3">
                            <label for="packageNameUpdate" class="col-form-label">Package Name:</label>
                            <input name="packageNameUpdate" type="text" class="form-control" id="packageNameUpdate">
                        </div>
                        <div class="d-flex">
                            <div class="mb-3 flex-1 mr-2">
                                <label for="packageTypeUpdate" class="col-form-label">Type: </label>
                                <select name="packageTypeUpdate" class="form-select custom-width-select"
                                    id="packageTypeUpdate">
                                    <option disabled selected>Choose type...</option>
                                    <option value="Tham quan">Tham quan</option>
                                    <option value="Ăn uống">Ăn uống</option>
                                    <option value="Mua sắm">Mua sắm</option>
                                    <option value="Giải trí">Giải trí</option>
                                    <option value="Thể thao">Thể thao</option>
                                    <option value="Kiến thức">Kiến thức</option>
                                    <option value="Giao lưu văn hóa">Giao lưu văn hóa</option>
                                    <option value="Khác">Khác</option>
                                </select>
                            </div>
                            <div class="mb-3 flex-2">
                                <label for="packageCityUpdate" class="col-form-label">City: </label>
                                <select name="packageCityUpdate" class="form-select custom-width-select"
                                    id="packageCityUpdate">
                                    <option disabled selected>Choose City...</option>
                                    <option value="1">Type 1</option>
                                    <option value="2">Type 2</option>
                                    <option value="3">Type 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="packageDescriptionUpdate" class="col-form-label">Description:</label>
                            <textarea name="packageDescriptionUpdate" class="form-control"
                                id="packageDescription"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="submitBtn" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
<!-- <meta name="referrer" content="origin-when-cross-origin"> -->

<script defer>
    $('#paging').pagination({
        dataSource: '/api/package-data',
        locator: 'DT',
        totalNumberLocator: (response) => {
            const totalPage = response.TotalPage * 10;
            return totalPage;
        },
        pageSize: 10,
        afterPageOnClick: function (event, pageNumber) {
            loadPage(pageNumber);
        },
        afterPreviousOnClick: function (event, pageNumber) {
            loadPage(pageNumber);
        },
        afterNextOnClick: function (event, pageNumber) {
            loadPage(pageNumber);
        }
    })

    function loadPage(page) {
        $.ajax({
            url: 'api/package-data?page=' + page
        })
            .then(data => {
                const tableBody = document.getElementById("table-content");
                tableBody.innerHTML = ''; // Xóa dữ liệu cũ trong tbody

                data.DT.forEach((item, index) => {
                    const row = document.createElement('tr');
                    row.innerHTML = `<th scope="row">${parseInt(page - 1) * 10 + index + 1}</th>
                                <td>${item.packageName}</td>
                                <td>${item.packageType}</td>
                                <td>${item.packageCity}</td>
                                <td>
                                    <button class="btn btn-primary rounded-circle" onclick="loadPackageData(${item.id})">
                                        <i class="fa-solid fa-gear" style="color: #ffffff;"></i>
                                    </button>
                                    <button class="btn btn-danger rounded-circle">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>`;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.log(error);
            })
    }

    const firebaseConfig = {
        apiKey: "AIzaSyDSEzBchqJEtmcacoVFsn8gh0eFhV_ozCE",
        authDomain: "webbooking-2460b.firebaseapp.com",
        projectId: "webbooking-2460b",
        storageBucket: "webbooking-2460b.appspot.com",
        messagingSenderId: "715287388351",
        appId: "1:715287388351:web:be08ae4a0e986e5b8f260a",
        measurementId: "G-J2FLN8G0FQ"
    };
    const app = firebase.initializeApp(firebaseConfig);
    const storage = app.storage();

    function generateUniqueId() {
        const randomArray = new Uint32Array(2);
        crypto.getRandomValues(randomArray);

        const uniqueId = randomArray[0].toString(16) + randomArray[1].toString(16);
        console.log('Generated ID:', uniqueId);
        return uniqueId;
    }

    function openFileInput() {
        document.getElementById('fileInput').click();
    }


    function displaySelectedImage(event, imgId) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            const imgElement = document.getElementById(imgId);
            imgElement.src = e.target.result;
        };

        reader.readAsDataURL(file);
    }

    const uploadImageAndSubmit = async () => {
        console.log("Upload called");
        const fileInput = document.getElementById('fileInput');
        const file = fileInput.files[0];

        if (file) {
            console.log("Has file");
            const storageRef = firebase.storage().ref();
            const imageId = generateUniqueId(); // Hàm để tạo id unique, bạn cần tự định nghĩa
            const imageRef = storageRef.child(imageId);
            await imageRef.put(file).then((snapshot) => {
                console.log('Uploaded a file!');

                // Lấy ID của ảnh - lưu vào input packageImage của form
                document.getElementById('packageImage').value = imageId;
            })
            return true;
        } else {
            console.log('No file selected');
            return false;
        }
    }
    document.querySelector('form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const uploadResult = await uploadImageAndSubmit();
        console.log("Upload Result: ", uploadResult);
        // console.log(document.getElementById("packageImage").value);
        // Lấy tham chiếu đến biểu mẫu và gọi phương thức submit()
        document.querySelector('form').submit();
    });
    // Function to load and display image in modal
    const loadImageIntoUpdateModal = (imageId) => {
        // Reference to the image in Firebase Storage
        const imageRef = storage.ref().child(imageId);

        // Get the download URL of the image
        imageRef.getDownloadURL()
            .then((url) => {
                // Update the image element in the modal
                let imgElement = document.getElementById('selectedImageUpdate');
                imgElement.setAttribute("src", url);
                console.log(imgElement.src);

                // Open the updatePackage modal
                $('#updatePackage').modal('show');
            })
            .catch((error) => {
                console.error('Error getting download URL:', error);
            });
    }

    // Example of how to call the function

    function loadPackageData(packageId) {
        // Thực hiện Ajax request để lấy dữ liệu của package
        $.ajax({
            url: `/api/read-package/${packageId}`, // Điều chỉnh URL tùy thuộc vào cách bạn cài đặt API
            method: 'GET',
            success: async function (data) {
                console.log(data.DT);
                // Xử lý dữ liệu nhận được từ server
                // Hiển thị dữ liệu trong modal, bạn có thể sử dụng jQuery hoặc JavaScript thuần túy tùy thuộc vào yêu cầu của bạn

                // Ví dụ: Hiển thị tên gói trong một thẻ div có id là "packageName"
                document.getElementById("packageNameUpdate").value = data.DT.packageName;
                if (data.DT.packageImage != null) {
                    await loadImageIntoUpdateModal(data.DT.packageImage);
                }
                else if (data.DT.packageImage == null || data.DT.packageImage == "") {
                    let imgElement = document.getElementById('selectedImageUpdate');
                    imgElement.setAttribute("src", "/img/imgPlaceHolder.jpg");
                    $('#updatePackage').modal('show');
                }

                // document.getElementById("packageTypeUpdate").value = data.DT.packageType;
                // document.getElementById("packageCityUpdate").value = data.DT.packageCity;
                // document.getElementById("packageDescriptionUpdate").value = data.DT.packageDescription;
                // Tương tự, hiển thị các thông tin khác của package
                // ...

                // Mở modal
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>